<template>
  <div class="error">
    <h1>Страница не найдена</h1>
    <nuxt-link to="/" class="link">
      В каталог
    </nuxt-link>
  </div>
</template>
<style scoped>
  .error {
    margin: 0 auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  h1 {
    color: #962020;
  }

  .link {
    margin-top: 10px;
    font-weight: 500;
    color: #423c7b;
    border-bottom: 1px solid #423c7b;
    text-decoration: none;
  }
</style>
