<template>
  <div class="form">
    <div class="form__title">
      {{ formTitle }}
    </div>
    <form @submit.prevent="submit">
      <div class="form__item">
        <input v-model="item.id" type="text" :disabled="true" placeholder="ID" class="input">
      </div>
      <div class="form__item">
        <input v-model="item.date" type="text" :disabled="true" placeholder="Дата" class="input">
      </div>
      <div class="form__item">
        <input v-model="item.title" type="text" placeholder="Название" class="input">
      </div>
      <div class="form__item">
        <input v-model="item.price" type="text" placeholder="Цена" class="input">
      </div>
      <div class="buttons">
        <button type="submit" class="button remove" @click="$emit('remove')">
          Удалить
        </button>
        <button type="submit" class="button" @click="$emit('catalog')">
          Вернуться в каталог
        </button>
        <button type="submit" class="button edit" @click="$emit('edit', item)">
          Сохранить
        </button>
      </div>
    </form>
  </div>
</template>
<script>
export default {
  props: {
    formTitle: {
      type: String,
      default: 'Информация о товаре'
    },
    item: {
      type: Object,
      required: true
    }
  },
  methods: {
    clearForm () {
      this.title = ''
      this.price = ''
    },
    submit () {
      this.$emit('submit', {
        id: Math.random() * 1000,
        title: this.title,
        price: this.price,
        date: +new Date()
      })
      this.clearForm()
    }
  }
}
</script>
<style scoped>
  .form {
    background: #f2f2f2;
    padding: 20px 50px;
  }

  .form__title {
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 20px;
  }

  .form__item {
    margin-bottom: 15px;
  }

  .input {
    min-width: 500px;
    padding: 4px 10px;
    outline: none;
    height: 45px;
    font-size: 14px;
  }

  .buttons {
    display: flex;
    width: 100%;
    justify-content: space-around;
  }

  .button {
    border-radius: 5px;
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
  }

  .remove {
    background-color: #d41d1d;
  }

  .edit {
    background-color: #415396;
  }
</style>
