<template>
  <div class="form">
    <div class="form__title">
      {{ formTitle }}
    </div>
    <form @submit.prevent="submit">
      <div class="form__item">
        <input v-model="title" type="text" placeholder="Название" class="input">
      </div>
      <div class="form__item">
        <input v-model="price" type="text" placeholder="Цена" class="input">
      </div>
      <button type="submit" :disabled="!validForm" class="button">
        Добавить
      </button>
    </form>
  </div>
</template>
<script>
export default {
  props: {
    formTitle: {
      type: String,
      default: ''
    }
  },
  data: () => ({
    title: '',
    price: ''
  }),
  computed: {
    validForm () {
      return this.title && this.price
    }
  },
  methods: {
    clearForm () {
      this.title = ''
      this.price = ''
    },
    submit () {
      this.$emit('submit', {
        id: (Math.random() * 1000).toString(),
        title: this.title,
        price: this.price,
        date: +new Date()
      })
      this.clearForm()
    }
  }
}
</script>
<style scoped>
  .form {
    background: #f2f2f2;
    padding: 20px 50px;
  }

  .form__title {
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 20px;
  }

  .form__item {
    margin-bottom: 15px;
  }

  .input {
    min-width: 300px;
    padding: 4px 10px;
    outline: none;
    height: 45px;
    font-size: 14px;
  }

  .button {
    border-radius: 5px;
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
  }
</style>
