<template>
  <div class="list-item">
    {{ title }}
  </div>
</template>
<script>
export default {
  props: {
    title: {
      type: [String, Number],
      required: true
    }
  }
}
</script>
<style scoped>
  .list-item {
    padding: 10px;
    border-bottom: 1px solid #ccc;
    text-align: left;
    word-wrap: break-word;
  }
</style>
