<template>
  <div class="list">
    <div class="list-controls">
      <div class="sort">
        <div class="sort-item" @click="sort('price')">
          По цене
        </div>
        <div class="sort-item" @click="sort('date')">
          По дате
        </div>
      </div>
      <Paginator
        :count-to-show="paginator.countToShow"
        :max="items.length"
        @changePage="onChangePage"
      />
    </div>
    <div class="list-columns">
      <div
        v-for="(column, index) in columns"
        :key="index"
        :class="`w-${column.width}`"
        class="list-columns__item "
      >
        {{ column.title }}
      </div>
    </div>
    <div
      v-for="(item, index) in listToShow"
      :key="index"
      :item="item"
      class="list-items"
      @click="openCard(item.id)"
    >
      <ListItem :title="item.title" class="w-700" />
      <ListItem :title="item.price" class="w-150" />
      <ListItem :title="item.date" class="w-150" />
    </div>
  </div>
</template>
<script>
import Paginator from './Paginator'
import ListItem from './ListItem'

export default {
  components: {
    Paginator,
    ListItem
  },
  props: {
    items: {
      type: Array,
      required: true
    }
  },
  data: () => ({
    sortParam: '',
    sortReverse: false,
    paginator: {
      countToShow: 2,
      currentPage: 0
    },
    columns: [
      { title: 'Название', width: 700 },
      { title: 'Цена', width: 150 },
      { title: 'Дата', width: 150 }
    ]
  }),
  computed: {
    listToShow () {
      return this.items
        .slice(
          this.paginator.currentPage * this.paginator.countToShow,
          (this.paginator.currentPage * this.paginator.countToShow) + this.paginator.countToShow
        )
        .sort((a, b) => {
          if (!this.sortParam) { return 0 }
          if (a[this.sortParam] > b[this.sortParam]) { return this.sortReverse ? 1 : -1 }
          if (a[this.sortParam] < b[this.sortParam]) { return this.sortReverse ? -1 : 1 }
          return 0
        })
    }
  },
  methods: {
    onChangePage (pageIndex) {
      this.paginator.currentPage = pageIndex
    },
    openCard (id) {
      this.$router.push(`/${id}`)
    },
    sort (sortParam) {
      this.sortParam = sortParam
      this.sortReverse = !this.sortReverse
    }
  }
}
</script>
<style scoped>
  .list {
    display: flex;
    flex-direction: column;
  }

  .list-controls {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0;
  }

  .sort {
    display: flex;
  }

  .sort-item {
    cursor: pointer;
    margin-right: 20px;
    font-size: 14px;
    text-decoration: underline;
  }

  .list-columns {
    border-radius: 4px;
    display: flex;
    background: #ccc;
  }

  .list-items {
    display: flex;
    background: #f2f2f2;
  }

  .list-items:hover {
    cursor: pointer;
    background: #929191;
  }

  .list-columns__item {
    text-align: left;
    padding: 10px;
    font-weight: 500;
    cursor: pointer;
  }

  .w-700 {
    min-width: 700px;
  }

  .w-150 {
    min-width: 150px;
  }
</style>
