<template>
  <div class="menu">
    <div class="menu-items">
      <div class="menu-items__item">
        <nuxt-link exact active-class="active" class="menu-link" to="/">
          Каталог
        </nuxt-link>
      </div>
      <div class="menu-items__item">
        <nuxt-link active-class="active" class="menu-link" to="/create">
          Добавить запись
        </nuxt-link>
      </div>
    </div>
  </div>
</template>
<style scoped>
  .menu {
    background: #f2f2f2;
  }

  .menu-items {
    display: flex;
    justify-content: center;
  }

  .menu-link {
    display: inline-block;
    height: 40px;
    line-height: 40px;
    padding: 0 15px;
    font-size: 14px;
    color: #2b2929;
    text-decoration: none;
  }

  .active {
    background: #ccc;
    font-weight: 500;
  }
</style>
