<template>
  <div class="paginator">
    <div
      v-for="(page, index) in pages"
      :key="index"
      :class="{ active: activePageIndex === index }"
      class="paginator__item"
      @click="selectPage(index)"
    >
      {{ page }}
    </div>
  </div>
</template>
<script>
export default {
  props: {
    countToShow: {
      type: Number,
      default: 2
    },
    max: {
      type: Number,
      required: true
    }
  },
  data: () => ({
    activePageIndex: 0
  }),
  computed: {
    pages () {
      return Math.round(this.max / this.countToShow)
    }
  },
  methods: {
    selectPage (index) {
      this.activePageIndex = index
      this.$emit('changePage', index)
    }
  }
}
</script>
<style scoped>
  .paginator {
    display: flex;
    justify-content: flex-end;
  }

  .paginator__item {
    background: #f2f2f2;
    color: #ccc;
    padding: 8px 15px;
    margin-left: 10px;
    font-size: 16px;
    cursor: pointer;
    -webkit-user-select: none;
  }

  .active {
    color: #000;
    background: #ccc;
    font-weight: 500;
  }
</style>
