<template>
  <div class="product-page">
    <Error v-if="!catalogItem" />
    <FormProduct
      v-if="catalogItem"
      :item="catalogItem"
      @catalog="toCatalog"
      @remove="onRemove"
      @edit="onEdit"
    />
  </div>
</template>
<script>
import FormProduct from '~/components/FormProduct'
import Error from '~/components/Error'

export default {
  components: {
    FormProduct,
    Error
  },
  async fetch ({ store }) {
    if (!store.getters['catalog/getCatalog'].length) {
      await store.dispatch('catalog/loadCatalog')
    }
  },
  computed: {
    catalog () {
      return this.$store.getters['catalog/getCatalog']
    },
    catalogItem () {
      return this.catalog.find(item => item.id === this.$route.params.id)
    }
  },
  methods: {
    toCatalog () {
      this.$router.push('/')
    },
    onRemove () {
      this.$store.dispatch('catalog/removeItem', this.catalogItem.id)
      this.$router.push('/')
    },
    onEdit (newItem) {
      this.$store.dispatch('catalog/changeItem', { ...newItem, date: +new Date() })
      this.$router.push('/')
    }
  }
}
</script>
<style scoped>
  .product-page {
    margin: 0 auto;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
</style>
