<template>
  <div class="create-page">
    <FormCreate form-title="Новый товар" @submit="submit" />
  </div>
</template>
<script>
import FormCreate from '~/components/FormCreate'

export default {
  components: {
    FormCreate
  },
  methods: {
    submit (formData) {
      this.$store.dispatch('catalog/addNewItem', formData)
      this.$router.push('/')
    }
  }
}
</script>
<style scoped>
  .create-page {
    margin: 0 auto;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
</style>
