<template>
  <div class="catalog">
    <List :items="catalog" />
  </div>
</template>
<script>
import List from '@/components/List'

export default {
  components: {
    List
  },
  async fetch ({ store }) {
    if (!store.getters['catalog/getCatalog'].length) {
      await store.dispatch('catalog/loadCatalog')
    }
  },
  data: () => ({}),
  computed: {
    catalog () {
      return this.$store.getters['catalog/getCatalog']
    }
  }
}
</script>
<style scoped>
.catalog {
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
</style>
